@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.eot');
    src: local('☺'), url('fonts/Gotham-Bold.woff') format('woff'), url('fonts/Gotham-Bold.ttf') format('truetype'), url('fonts/Gotham-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book.eot');
    src: local('☺'), url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf') format('truetype'), url('fonts/Gotham-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('fonts/Gotham-Medium.eot');
    src: local('☺'), url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf') format('truetype'), url('fonts/Gotham-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/Myriad Pro.eot');
    src: local('☺'), url('fonts/Myriad Pro.woff') format('woff'), url('fonts/Myriad Pro.ttf') format('truetype'), url('fonts/Myriad Pro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;

    font-family: 'Gotham-Book',sans-serif;
    font-size: 15px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Container
======================== */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
======================== */

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    border-bottom: 1px solid rgb(123,123,123);
}

.header__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__logo {
    padding: 20px 0 18px;
}

/* Nav
======================== */

.nav {
    display: flex;
    align-items: center;

    font-family: 'Myriad Pro';
    font-size: 20px;
}

.nav__item {
    list-style: none;
    margin-right: 50px;
    transition: nav 1s linear;
}

.nav__link {
    display:inline-block;
    text-decoration: none;
    color: #fff;

    padding: 40px 0 45px;
}

.nav__link:last-child {
    margin-right: 0;
}

 .nav__item:hover {
    border-bottom: 5px solid #11749e;
}

.nav__item:hover .nav__link {
    color: #11749e;
}

/* Social
======================== */

.social {
    display: flex;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;

    margin-right: 25px;
}

.social__icon {
    display: block;

    height: 20px;
    fill: #fff;

    transition: fill .1s linear;
}

.social__icon:hover {
   fill: #11749e;
}

/* Intro
======================== */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 800px;

    background: #757575 url(img/intro-bg.jpg) center no-repeat;
    background-size: cover;
}

.intro__title {
    font-family: 'Gotham-Bold';
    font-size: 152px;
    text-transform: uppercase;
    text-align: center;
}

.intro__subtitle {
    font-family: 'Gotham-Medium';
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    color: #11749e;
    line-height: 2;
    letter-spacing: 19px;
}

.intro__scroll {
    margin-top: 110px;
    text-align: center;
}

.btn {
    margin: 20px auto 0;
    position: relative;

    width: 100px;
    height: 100px;

    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.btn:before {
    content: url(img/arrow.png);
    position: absolute;
    min-width: 100%;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0)

}

.btn:hover {
    background-color: #11749e;
    transition: button .4s linear;
}

/* Features
======================== */

.background_blue {
    background-color: #11749e;
    min-height: 735px;

}

.features__anounce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 160px;
    margin-bottom: 120px;

    position: relative;
}

.anounce__title {
    text-align: center;
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 37px;
    line-height: 1.1;
    text-transform: uppercase;
}

.anounce__subtitle {
    position: absolute;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 230px;
    line-height: .8;

    opacity: .18;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.features__item {
    width: 25%;

    margin-bottom: 100px;

    text-align: center;
}

.features__title {
    font-family: 'Myriad Pro';
    font-size: 18px;
    line-height: 2;
    font-weight: normal;

    margin: 20px 15px 10px;

    opacity: .8;

    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;

    opacity: .8;
}

/* Works
======================== */
.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    height: 450px;
    width: 50%;
    position: relative;

    object-fit: contain;

    overflow: hidden;
}

.works__item_dark {
   background-color: #222222;
}

.works__item_white {
   background-color: #f3f3f3;
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 470px;
    width: 100%;
    min-height: 458px;
    height: 100%;

    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 100;
}

.works__content__left {
    padding-left: 200px;
    padding-right: 80px;
}
.works__content__right {
    padding-right: 200px;
    padding-left: 80px;
}

.works__content_dark {
    color: #222222;
}

.works__date {
    font-size: 13px;
    font-family: 'Gotham-Book';

    margin-bottom: 20px;
}

.works__title {
    font-size: 25px;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.works__text {
    font-family: 'Myriad Pro';

    font-size: 15px;
    line-height: 1.5;
}

.works__photo {
    min-width: 100%;
    max-width: 800px;
}

/* blog
======================== */

.blog {
    color: #222222;

}

.blog__top {
    position: relative;

    padding-top: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #222222
}

.top__subtitle {
    position: absolute;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 230px;
    line-height: .8;

    opacity: .18;
}

.top__subtitle--white {
    color: #fff;
}

.top__anounce {
    font-family: 'Gotham-Medium';

    font-size: 37px;
    text-transform: uppercase;

    padding-top: 65px;
}

.top__anounce--white {
    color: #fff;
}

.top__title {
    font-size: 30px;

    padding-top: 90px;
}

.blog__row {
    display: flex;
}

.blog__item {
    width: 25%;

    display: flex;
    flex-wrap: wrap;

    margin-top: 80px;
    margin-right: 30px;
    margin-bottom: 80px;
}

.blog__item:last-child {
    margin-right: 0;
}

.blog__title {
    font-family: 'Gotham-Medium';

    color: #11749e;
    font-size: 18px;
    line-height: 2;
    text-transform: uppercase;
    text-align: center;

    margin: 20px 0 10px;
}

.blog__text {
    font-size: 15px;
    line-height: 1.5;

    text-align: center;
}

/* Keeper
======================== */

.keeper {
    width: 100%;

    background-color: #11749e;

}

.keeper__wrapper {
    display: flex;
    width: 100%;
}

.keeper__item {
    width: 50%;

    display: flex;

    margin: 90px 0px;

}

.keeper__photo {
    margin-right: 25px;
}

.keeper__text {
    font-size: 15px;
    line-height: 1.5;

}

/* Tutorials
======================== */

.tutorials {
    background: #000000 url(img/tutorials/background.jpg) center no-repeat;
    background-size: cover;

}

.tuttorials__wrapper {
    display: flex;

    padding: 70px 0;
}

.tutorials__blog,
.tutorial__img {
    width: 50%;
}

.tutorials__blog {
    margin-top: 100px;

}

.tutorials__title {
    font-size: 25px;
    line-height: 1.4;
    font-family: 'Gotham-Medium', sans-serif;
    color: #fff;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.tutorials__text {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 100;

    margin-bottom: 70px;
}

.tutorials__features {
    display: flex;
    align-items: center;


    height: 40px;
    background-color: #11749e;

    margin-bottom: 20px;
    padding-left: 30px;

    text-transform: uppercase;
}

.tutorials__features--short {
    width: 350px;
}
.tutorials__features--middle {
    width: 400px;
}
.tutorials__features--large {
    width: 430px;
}

.tutorial__img {
    margin-left: 230px;
}

/* Our Team
======================== */

.team__row {
    display: flex;
}

.team__item {
    position: relative;

    width: 25%;

    margin-top: 60px;
    margin-bottom: 90px;
}

.team__photo {
}

.team__inner {
    position: absolute;
    bottom: 0;
    left: 12.5%;

    padding: 15px 0;

    width: 200px;
    height: 40px;

    background-color: #fff;

    text-align: center;
}

.team__name {
    color: #11749e;

    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Gotham-Medium';
}

.team__prof {
    color: #000000;
    font-family: 'Gotham-Medium';

    margin-top: 10px;
}

/* Contact us
======================== */

.contact {
    background: #000000 url(img/contact/contact-background.jpg) center no-repeat;
    background-size: cover;
}

.form {
    display: grid;

    grid-template-areas:
        'name email phone'
        'message message message'
        '. btn .';
    grid-gap: 30px;
    grid-template-rows: 50px 150px 60px;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 130px;
    padding-bottom: 100px;

}

form input {
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    border: 2px solid #fff;

    padding-left: 10px;
}

.form-name {
    grid-area: name;
}

.form-email {
    grid-area: email;
}

.form-phone {
    grid-area: phone;
}

.form-message {
    grid-area: message;

    background-color: transparent;
    color: #fff;
    font-size: 15px;
    border: 2px solid #fff;
    padding-left: 10px;
    resize: none;
}

.form-btn {
    grid-area: btn;

    width: 200px;
    justify-self: center;

    background-color: #11749e;
    font-size: 24px;
    font-family: 'Gotham-Medium';
    border: none;
    cursor: pointer;
}

.form-btn:hover {
    opacity: .8;
    transition: button .5s linear;
}







